.title {
  display: flex;
  justify-content: center;
}

.habit-laws {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2rem;
}

.habit__form_n_list {
  display: flex;
  justify-content: center;
  height: 800px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* For Individual Habits */
/* For Habits List */
ul {
  list-style-type: none;
  padding: 0;
}

.display-habits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-habits h1 {
  margin-top: 2rem;
}

.habits {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: auto;

  margin: 0 2rem 2rem;
}

/* For individual Habits */
.habit {
  /* border: 1px solid lightblue; */
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  /* Width is the same size as form-contents */
  width: 400px;
  /* width: 630px; */
  white-space: normal;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.delete-habit {
  border: none;
  border-radius: 5px;
  float: right;

  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.delete-habit:hover {
  background-color: grey;
}

/* Good & Bad Habits Lists */

.organize-habits {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.org-habits {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org-habits ul li {
  margin: 1rem;
}

/* Sticky, but not a fixed footer */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.footer {
  text-align: center;
  padding: 1em 0;
}
